---
import Layout from '../../layouts/Layout.astro';
import PostBlurb from '../../components/PostBlurb.astro';
import { loadBlogPosts } from "../../lib/util.js";
import site from "../../data/config.yml";
import Pagination from '../../components/Pagination.astro';

export async function getStaticPaths({ paginate }) {
	const posts = await loadBlogPosts();
    return paginate(posts, { pageSize: 10 });
};

const { page } = Astro.props;
---
<Layout
	title={site.name}
	description={site.description}
>	
	<h1 class="hide-offscreen">All Posts</h1>

	<div class="blog-posts-container">
		{page.data.map((post) => (
			<PostBlurb post={post}/>
		))}
	</div>

	<Pagination next={page.url.next} prev={page.url.prev} />

</Layout>
