---
import Layout from "../layouts/Layout.astro";
import MailingListForm from "../components/MailingListForm.astro";
import PostTags from "../components/PostTags.astro";
import Comments from "../components/Comments.astro";

const { post } = Astro.props;
const baseUrl = post.url.split("/")[1];
---
<Layout
    title={post.frontmatter.title}
    description={post.frontmatter.teaser}
    originalUrl={post.frontmatter.original?.url}>
<article itemtype="http://schema.org/Article">
    <header>
        <h1 itemprop="headline" class="no-margin gutter-bottom headline-text">{ post.frontmatter.title }</h1>
        <p itemprop="description" class="no-margin-top">{ post.frontmatter.teaser }</p>
        <div class="post-meta gutter-top smaller-font dark-dotted-border-top dark-dotted-border-bottom">
            <p class="no-margin byline">Posted at <time datetime={ post.frontmatter.date.toUTCString() } itemprop="datePublished">{
                    post.frontmatter.date.toLocaleDateString('en-us', {
                        year: "numeric",
                        month:"long",
                        day: "numeric"
                    }) }</time> by <span itemprop="author" itemtype="https://schema.org/Person">Nicholas
                    C. Zakas</span></p>
            <PostTags tags={post.frontmatter.tags} baseUrl={baseUrl}/>
        </div>
    </header>
    <section id="post-body" class="content-font">
        {post.frontmatter.original &&
            <aside class="margin-top">
                <p>This post originally appeared on <a href={post.frontmatter.original.blog.url}>{post.frontmatter.original.blog.title}</a> on
                    <a href={post.frontmatter.original.url}>{ new Date(post.frontmatter.original.date).toLocaleDateString("en-US", {
                        year: "numeric",
                        month:"long",
                        day: "numeric"
                    })}</a>.</p>
            </aside>
        }

		<slot />
        <Comments comments={post.comments}/>
    </section>
</article>
<MailingListForm />
</Layout>
