---
import Layout from "../layouts/Layout.astro";
import PostTags from "../components/PostTags.astro";
import Comments from "../components/Comments.astro";
import InterruptRateEbookForm from "../components/InterruptRateEbookForm.astro";
import PromisesEbookForm from "../components/PromisesEbookForm.astro";

const { post } = Astro.props;
---
<Layout
    title={post.data.title}
    description={post.data.teaser}
    originalUrl={post.data.original?.url}
    canonicalUrl={post.data.canonical_url}>
<article itemtype="http://schema.org/Article">
    <header>
        <h1 itemprop="headline" class="no-margin gutter-bottom headline-text">{ post.data.title }</h1>
        <p itemprop="description" class="no-margin-top">{ post.data.teaser }</p>
        <div class="post-meta gutter-top smaller-font dark-dotted-border-top dark-dotted-border-bottom">
            <p class="no-margin byline">Posted at <time datetime={ post.data.date.toUTCString() } itemprop="datePublished">{
                    post.data.date.toLocaleDateString('en-us', {
                        year: "numeric",
                        month:"long",
                        day: "numeric"
                    }) }</time> by <span itemprop="author" itemtype="https://schema.org/Person">Nicholas
                    C. Zakas</span></p>
            <PostTags post={post}/>
        </div>
    </header>
    <section id="post-body" class="content-font">
        {post.data.original &&
            <aside class="margin-top">
                <p>This post originally appeared on <a href={post.data.original.site.url}>{post.data.original.site.name}</a> on
                    <a href={post.data.original.url}>{ new Date(post.data.original.date).toLocaleDateString("en-US", {
                        year: "numeric",
                        month:"long",
                        day: "numeric"
                    })}</a>.</p>
            </aside>
        }
		<slot />
        <Comments comments={post.comments}/>
    </section>
</article>
{  !post.data.tags || post.data.tags.includes("JavaScript")
    ? <PromisesEbookForm />
    : <InterruptRateEbookForm /> }
</Layout>
